// Primary

$darkBlue: hsl(233, 26%, 24%);

$limeGreen: hsl(136, 65%, 51%);
$limeGreenFade: hsla(136, 65%, 51%, 0.719);


$BrightCyan: hsl(192, 70%, 51%);
$BrightCyanFade: rgba(43, 183, 218, 0.678);

// Neutral

$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsla(220, 14%, 96%, 0.575);
$white: hsl(0, 0%, 100%);
