@import "variables";
@import "globals";
@import "animations";


.header{
    z-index: 50;
    background: white;
    // border: 1px solid ;
    display: flex;
    justify-content: space-between;
    padding: 22px;  
    
    .hamburger{
        cursor: pointer;
        width: 24px;
        height: max-content;
        div{
            height: 2px;
            background: $darkBlue;
            transition: all 300ms ease-in-out;
        }
        .one, .two{
            margin-bottom: 5px;
        }

    }

    .open{
        div{
            transform-origin: 2px 1px;
        }

        .one{
            transform: rotate(45deg) ;
        }
        
        .two{
            opacity: 0;
        }
        
        .three{
            transform: rotate(-45deg);
        }
    }
}

.overlay{
    z-index: 10;
    position: absolute;
    top: 65px;
    left: 0;
    background: linear-gradient($darkBlue, rgba(255, 255, 255, 0) );
    height: calc( 99vh - 65px );
    width: 100%;
    padding: 24px;
    animation: fade-in 300ms forwards;
    
    .hamburger-menu-open{
        display: flex !important;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: max-content;
        background: white;
        border-radius: 3px;
        a{
            margin: 15px;
        }
        .top{
            margin-top: 30px;
        }
        .bottom{
            margin-bottom: 30px;
        }
    }
}

.hero{

    .container{
        width: 100%;
        position: absolute;
        top: 65px;
        left: 0;
        display: flex;
        justify-content: center;
        overflow: hidden;
        height: 345px;
        .on-top{
            transform: translateY(-60px);
            width: 345px;
            height: 422.37px;
            vertical-align: baseline;
        }
    }

    .below{
        width: 100%;
    }
    
    .hero-details{
        // border: 1px solid;
        margin-top: -40px;
        text-align: center;

        .heading{
            font-size: 40px;
            font-weight: 300;
            color: $darkBlue;
        }

        .cta{
            margin-top:20px ;
        }
    }
}

.sec{
    background: $veryLightGray;
    padding-bottom: 50px;

    .merrits-heading{
        margin-top: 90px;
        padding-top: 75px;
        text-align: center;
    
        .heading{
            font-size: 35px;
            font-weight: 300;
            color: $darkBlue;
        }
    }
    
    .merrits{
        padding: 0 30px;
        text-align: center;
        .title{
            margin-top: 20px;
            font-size: 25px;
            color: $darkBlue;
        }
    }
}

.latest-articles{

    margin-bottom: 120px;    

    .heading{
        font-size: 30px;
        font-weight: 300;
        color: $darkBlue;
        text-align: center;
    }

    .card{
        
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .img-container{
            border-top-left-radius: 5px; 
            border-top-right-radius: 5px;
            height: 200px;
            overflow: hidden;
        }
        
        img{
            width: 300px;
        }

        .content{
            // border: 1px solid;
            width: 300px;
            padding: 20px 30px;

            .by{
                color: $grayishBlue;
                font-size: 0.7em;
                margin-bottom: 10px;
            }

            .card-title{
                font-size: 0.9em;
                font-weight: 400;
                margin-bottom: 10px;
            }

            .card-des{
                color: $grayishBlue;
                font-size: 0.7em;
            }
        }
    }
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    background-color: $darkBlue;  
    color: white;

    .socials{
        margin: 30px 0;

        img{
            margin: 0 5px;
            width: 25px
        }
    }

    .links{
        color: $lightGrayishBlue;
        font-size: 13px;
        margin-bottom: 15px;
    }

    button{
        margin: 15px;
    }

    .end{
        color: $veryLightGray;
        font-size: 15px;
    }
}